@use './../../styles/abstracts/' as i;

.container{
    width: 100%;
    height: 2000px;
    position: relative;
    // background-color: i.$pr_color;
    background: url(/Footer-section-background-1000BA.svg);
    background-size: cover;
    // background-color: green;
    .innerContainer{
        // background-color: red;
        width: 90%;
        height: 95%;
        // width: 90%;
        // height: 90%;
        // background-color: white;
        position: relative;
        // border-radius: 20px;
        @include i.center;
        // $w: 500px;
        // $h: 500px;
        // $c: white;
        // width: $w;
        // height: $h;
        // @include i.super-rectangle($w, $h, $c);
    }
}