@use './../../styles/abstracts/' as i;
@use './../../styles/utils.module.scss' as u;

.container{
    width: 100%;
    height: 1000px;
    margin-bottom: -10px;
    position: relative;
    white-space: nowrap;
    // background-color: i.$pr_color;
    background: url(/Footer-section-background-1000BA.svg);
    background-size: cover;
    @include i.media("<=small_phone"){
        width: u.$small_phone;
    }
    .innerContainer{
        width: 90%;
        height: 95%;
        position: relative;
        @include i.center;
        .content{
            position: relative;
            width: 90%;
            margin-top: 30px;
            height: 100%;
            @include i.centerX;
            .blockheading{
                margin: 10px 0 20px 0;
                font-size: 1.5em;
                // background-color: red;
                position: relative;
                // width: 10px;
                // height: 10px;
                font-weight: i.$main_font_weight_600;
                position: relative;
                display: inline-block;
                @include i.media("<=phone"){
                    font-size: 1em;
                    // max-width: 100%;
                    // display: inline-block;
                    // word-wrap: auto;
                    // overflow-wrap: break-word;
                    // word-wrap: break-word;
                    // word-break: normal;
                    // height: fit-content;
                    // height: 200px;
                    // font-size: 18px;
                }
                @include i.media("<=large_phone"){
                    background-color: purple;
                }

            }
            .block1{
                display: flex;
                @include i.media("<=tablet"){
                    flex-direction: column;
                    display: block;
                }
                .half{
                    width: 250px;
                    margin: 0 40px 0 0;
                }
            }
            .block2{
                margin: 30px 0;
            }
            .block3{
                @include i.media("<=tablet"){
                    flex-direction: column;
                    display: block;
                }
                display: flex;
                .half{
                    width: 250px;
                    margin: 0 40px 0 0;
                    p{
                        &:hover{
                            cursor: pointer;
                            color: i.$pr_color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .bottom{
            // background-color: red;
            position: absolute;
            bottom: 70px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
            @include i.media("<=desktop"){

                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            @include i.media("<=phone"){
                flex-direction: column;
                
            }
            .wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                @include i.media("<=phone"){
                    // flex-direction: column;
                    span{
                        font-size: 15px;
                    }
                }
                .logo{
                    // background-color: red;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    
                    margin: 10px;
                    height: 60px;
                    width: 60px;
                }
                
                span{
                    margin: 10px;
                    color: i.$gray;
                    min-width: fit-content;
                }
            }
            .privacy{
                margin: 0;
                list-style-type: none;
                display: flex;
                // background-color: rgb(255, 192, 248);
                align-content: center;
                align-items: center;
                height: 100%;
                flex-direction: row;
                width: fit-content;
                
                li{
                    margin: 0 30px 0 0;
                    width: fit-content;
                    white-space: nowrap;
                    display: block;
                    a{
                        width: fit-content;
                        cursor: pointer;
                        color: i.$gray;
                        font-weight: i.$main_font_weight_600;
                        font-size: 20px;
                        @include i.media("<=large_phone"){
                            font-size: 15px;
                        }
                    }
                }
                
            }
        }
    }
}