@use './../../styles/abstracts/' as i;

.container{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    .logo{
        height: 100px;
        width: 100px;
        margin: 0 40px;
    }
    .navigator{
        display: flex;
        justify-content: center;
        .wrapper{
            display: flex;
            ul{
                background-color: red;
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction: row;
                list-style-type: none;
                .pagenavigators{
                    margin: 10px; 
                    height: fit-content;
                    width: 100px;
                    background-color: aqua;
                }
            }
            .contact{
                $w: 400px;
                $h: 400px;
                $c: #ED2F5B;
                width: $w;
                height: $h;
                @include i.super-rectangle( $w, $h, $c);
                @include i.shadow-plain( $w, $h, black);
            }
        }
        
        background-color: green;
        
    }
}



