@use './../../styles/abstracts/index' as i;

.section {
  margin: 10px;
  .upcmngHeader {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    margin-top: 50px;
    font-weight: i.$main_font_weight_700;
    color: i.$pr_color;
    
  }
}

.eventContainer {
  // background-color: red;
  margin: 20px 0;
  width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .eventContent{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    .textpart {
      margin: 20px;
      width: 50%;
      width: 70%;
      .title {
        color: white;
        font-size: 40px;
        margin: 0;
        font-weight: i.$main_font_weight_700;
      }
      .contentHTML {
        color: white;
        font-size: 20px;
        font-weight: i.$main_font_weight_400;
      }
    }
    .imagePart {
      margin: 40px;
      position: relative;
      width: 30%;
    }
  }
}
