@use './../../styles/abstracts/index' as i;

.text{
    color: white;
    font-weight: i.$main_font_weight_700;
    
}

.shadow{
    margin-top: 4px;
    height: 40px;
    width: 160px;
    background-color: i.$pr_color;
    opacity: 0.25;
    position: absolute;
    // filter: url(#svg-blur);
    filter: blur(20px);

}