@use './../../styles/abstracts/index' as i;

.arrow {
}
.section1 {
    position: relative;
    display: flex;
    flex-direction: row;
    // background-color: red;
    width: fit-content;
    @include i.centerX;
    .wrapper{
        width: 50%;
        background-color: red;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding-top: 20%;
        // background-color: purple;
    }
}

.image1 {
    right: 0px;
    top: 50px;
    height:450px;
    width: 450px;
    position: absolute;
}

