@use './../../styles/abstracts' as i;


// @include i.media(">=desktop") {
// }

.container {
  width: 100%;
  @include i.media(">=desktop"){
    width: 80%;
  }
  height: 100%;

  // max-width: 36rem;
  @include i.centerX;
  position:relative;
  // padding: 0 1rem;
  // margin: 3rem auto 6rem;
  background-color: white; 
} 



.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main{
  @include i.media("<=small_phone"){
    width: i.$small_phone;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
