@use './abstracts/index' as i;

:export{
  phonesize: map-get(i.$breakpoints, 'phone');
  tabletsize: map-get(i.$breakpoints, 'tablet');
  desktopsize: map-get(i.$breakpoints, 'desktop');
}

.heading1{
  font-size: 50px;
  line-height: 50px;
  color: black;
  font-family: i.$main_font;
}

.text1{
  font-size: 25px;
  line-height: 30px;
  font-family: i.$main_font;
}
