@use './abstracts/index' as i;

$small_phone: map-get(i.$breakpoints, "small_phone");
$phonesize: map-get(i.$breakpoints, "phone");
$tabletsize: map-get(i.$breakpoints, "tablet");
$desktopsize: map-get(i.$breakpoints, "desktop");

:export {
  small_phone: map-get(i.$breakpoints, "small_phone");
  phonesize: map-get(i.$breakpoints, "phone");
  tabletsize: map-get(i.$breakpoints, "tablet");
  desktopsize: map-get(i.$breakpoints, "desktop");
}

.heading_home_1 {
  font-size: 3rem;
  line-height: 60px;
  margin: 0;
  color: black;
  font-family: i.$main_font;
  @include i.media("<=tablet") {
    font-size: 2rem;
    line-height: 2rem;
  }
  @include i.media("<=phone") {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

@mixin navHeading {
  font-size: 40px;
  line-height: 50px;
  font-family: i.$main_font;
  color: black;
  font-weight: i.$main_font_weight_700;
}

.text_home_1 {
  font-size: 25px;
  line-height: 30px;
  font-family: i.$main_font;
  @include i.media("<=tablet") {
    max-width: 60%;
  }
  @include i.media("<=phone") {
    font-size: 10px;
    line-height: 10px;
  }
}
